.column
  float left

.grid-1
  width 100%

.grid-2
  width 50%

.grid-3
  width 33.33%

.grid-4
  width 25%

.grid-5
  width 20%

.grid-6
  width 16.66%

.grid-7
  width 14.28%

.grid-8
  width 12.5%

.grid-9
  width 11.11%

.grid-10
  width 10%

.grid-11
  width 9.09%

.grid-12
  width 8.15%

.col-1
  width 8.32%

.col-2 
  width 16.65%

.col-3
  width 25%

.col-4
  width 33.32%

.col-5
  width 41.65%

.col-6
  width 50%

.col-7
  width 58.32%

.col-8
  width 66.65%

.col-9
  width 75%

.col-10
  width 83.32%

.col-11
  width 91.65%

.col-12
  width 100%