header
  background-color rgba(0, 255, 100, 0.6)
  height 40px

header:after 
  content ""
  display table
  clear both

header
  .title
    font-size 1.3em
    margin 9px 18px
    user-select none
    cursor default

  .filter
    float right
    margin 13px 18px
    font-size 0.8em
    cursor pointer    

  .newSong
    float right
    margin 13px
    font-size 0.8em
    cursor pointer

  form
    float right
    margin 10px

  input
    background-color rgba(0,0,0,0.1)
    color white
    border 1px solid
    padding 5px
    margin-top -5px
    width 168px

  .save
    float right
    margin 13px
    font-size 0.8em
    cursor pointer